In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
features=pd.read_csv('/content/features.csv')
stores=pd.read_csv('/content/stores.csv')

In [ ]:
try:
  sales=pd.read_csv('/content/train.csv')
except:
  sales=pd.read_csv('/content/train.csv')

In [ ]:
# 4) Merge: (Sales/train has Store, Dept, Date; Features has Store, Date; Stores has Store)
merged = (sales
          .merge(features, on=['Store', 'Date'], how='left')
          .merge(stores,   on='Store',           how='left'))

In [ ]:
print("First 10 rows:\n", merged.head(10))
print("\nLast 10 rows:\n", merged.tail(10))

First 10 rows:
    Store  Dept        Date  Weekly_Sales  IsHoliday_x  Temperature  \
0      1     1  2010-02-05      24924.50        False        42.31
1      1     1  2010-02-12      46039.49         True        38.51
2      1     1  2010-02-19      41595.55        False        39.93
3      1     1  2010-02-26      19403.54        False        46.63
4      1     1  2010-03-05      21827.90        False        46.50
5      1     1  2010-03-12      21043.39        False        57.79
6      1     1  2010-03-19      22136.64        False        54.58
7      1     1  2010-03-26      26229.21        False        51.45
8      1     1  2010-04-02      57258.43        False        62.27
9      1     1  2010-04-09      42960.91        False        65.86

   Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
0       2.572        NaN        NaN        NaN        NaN        NaN
1       2.548        NaN        NaN        NaN        NaN        NaN
2       2.514        NaN        NaN        NaN        NaN        NaN
3       2.561        NaN        NaN        NaN        NaN        NaN
4       2.625        NaN        NaN        NaN        NaN        NaN
5       2.667        NaN        NaN        NaN        NaN        NaN
6       2.720        NaN        NaN        NaN        NaN        NaN
7       2.732        NaN        NaN        NaN        NaN        NaN
8       2.719        NaN        NaN        NaN        NaN        NaN
9       2.770        NaN        NaN        NaN        NaN        NaN

          CPI  Unemployment  IsHoliday_y Type    Size
0  211.096358         8.106        False    A  151315
1  211.242170         8.106         True    A  151315
2  211.289143         8.106        False    A  151315
3  211.319643         8.106        False    A  151315
4  211.350143         8.106        False    A  151315
5  211.380643         8.106        False    A  151315
6  211.215635         8.106        False    A  151315
7  211.018042         8.106        False    A  151315
8  210.820450         7.808        False    A  151315
9  210.622857         7.808        False    A  151315

Last 10 rows:
         Store  Dept        Date  Weekly_Sales  IsHoliday_x  Temperature  \
421560     45    98  2012-08-24        415.40        False        72.62
421561     45    98  2012-08-31        346.04        False        75.09
421562     45    98  2012-09-07        352.44         True        75.70
421563     45    98  2012-09-14        605.96        False        67.87
421564     45    98  2012-09-21        467.30        False        65.32
421565     45    98  2012-09-28        508.37        False        64.88
421566     45    98  2012-10-05        628.10        False        64.89
421567     45    98  2012-10-12       1061.02        False        54.47
421568     45    98  2012-10-19        760.01        False        56.47
421569     45    98  2012-10-26       1076.80        False        58.85

        Fuel_Price  MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5  \
421560       3.834    7936.20      58.38      22.00    5518.07    2291.97
421561       3.867   23641.30       6.00      92.93    6988.31    3992.13
421562       3.911   11024.45      12.80      52.63    1854.77    2055.70
421563       3.948   11407.95        NaN       4.30    3421.72    5268.92
421564       4.038    8452.20      92.28      63.24    2376.38    8670.40
421565       3.997    4556.61      20.64       1.50    1601.01    3288.25
421566       3.985    5046.74        NaN      18.82    2253.43    2340.01
421567       4.000    1956.28        NaN       7.89     599.32    3990.54
421568       3.969    2004.02        NaN       3.18     437.73    1537.49
421569       3.882    4018.91      58.08     100.00     211.94     858.33

               CPI  Unemployment  IsHoliday_y Type    Size
421560  191.344887         8.684        False    B  118221
421561  191.461281         8.684        False    B  118221
421562  191.577676         8.684         True    B  118221
421563  191.699850         8.684        False    B  118221
421564  191.856704         8.684        False    B  118221
421565  192.013558         8.684        False    B  118221
421566  192.170412         8.667        False    B  118221
421567  192.327265         8.667        False    B  118221
421568  192.330854         8.667        False    B  118221
421569  192.308899         8.667        False    B  118221

In [ ]:
print("\nShape:", merged.shape)
print("\nInfo:")
print(merged.info())
print("\nDescribe (numeric):\n", merged.describe())

Shape: (421570, 17)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  IsHoliday_y   421570 non-null  bool
 15  Type          421570 non-null  object
 16  Size          421570 non-null  int64
dtypes: bool(2), float64(10), int64(3), object(2)
memory usage: 49.0+ MB
None

Describe (numeric):
                Store           Dept   Weekly_Sales    Temperature  \
count  421570.000000  421570.000000  421570.000000  421570.000000
mean       22.200546      44.260317   15981.258123      60.090059
std        12.785297      30.492054   22711.183519      18.447931
min         1.000000       1.000000   -4988.940000      -2.060000
25%        11.000000      18.000000    2079.650000      46.680000
50%        22.000000      37.000000    7612.030000      62.090000
75%        33.000000      74.000000   20205.852500      74.280000
max        45.000000      99.000000  693099.360000     100.140000

          Fuel_Price      MarkDown1      MarkDown2      MarkDown3  \
count  421570.000000  150681.000000  111248.000000  137091.000000
mean        3.361027    7246.420196    3334.628621    1439.421384
std         0.458515    8291.221345    9475.357325    9623.078290
min         2.472000       0.270000    -265.760000     -29.100000
25%         2.933000    2240.270000      41.600000       5.080000
50%         3.452000    5347.450000     192.000000      24.600000
75%         3.738000    9210.900000    1926.940000     103.990000
max         4.468000   88646.760000  104519.540000  141630.610000

           MarkDown4      MarkDown5            CPI   Unemployment  \
count  134967.000000  151432.000000  421570.000000  421570.000000
mean     3383.168256    4628.975079     171.201947       7.960289
std      6292.384031    5962.887455      39.159276       1.863296
min         0.220000     135.160000     126.064000       3.879000
25%       504.220000    1878.440000     132.022667       6.891000
50%      1481.310000    3359.450000     182.318780       7.866000
75%      3595.040000    5563.800000     212.416993       8.572000
max     67474.850000  108519.280000     227.232807      14.313000

                Size
count  421570.000000
mean   136727.915739
std     60980.583328
min     34875.000000
25%     93638.000000
50%    140167.000000
75%    202505.000000
max    219622.000000

In [ ]:
#Identify column types
date_cols = [c for c in merged.columns if merged[c].dtype == 'datetime64[ns]']
num_cols  = merged.select_dtypes(include=['number']).columns.tolist()
cat_cols  = [c for c in merged.columns if c not in num_cols + date_cols]
print("\nDate columns:", date_cols)
print("Numeric columns:", num_cols[:20], "  ")
print("Categorical columns:", cat_cols[:20], "  ")

Date columns: []
Numeric columns: ['Store', 'Dept', 'Weekly_Sales', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'Size']
Categorical columns: ['Date', 'IsHoliday_x', 'IsHoliday_y', 'Type']

In [ ]:
#  8) Unique store types & departments
if 'Type' in merged.columns:
    print("\nUnique store types:", merged['Type'].dropna().unique())
if 'Dept' in merged.columns:
    print("Number of departments:", merged['Dept'].nunique())
    print("Sample departments:", merged['Dept'].dropna().unique()[:20])

Unique store types: ['A' 'B' 'C']
Number of departments: 81
Sample departments: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 16 17 18 19 20 21]

In [ ]:
# 9) Columns likely needing cleaning/type conversion (quick checklist)
needs_cleaning = []
if 'IsHoliday_x' in merged.columns or 'IsHoliday' in merged.columns:
    needs_cleaning.append('IsHoliday → boolean')
if 'Date' in merged.columns:
    needs_cleaning.append('Date → datetime (done)')
for md in [f'MarkDown{i}' for i in range(1,6)]:
    if md in merged.columns:
        needs_cleaning.append(f'{md} → numeric fill')
for c in ['Temperature','Fuel_Price','CPI','Unemployment']:
    if c in merged.columns:
        needs_cleaning.append(f'{c} → numeric fill')
print("\nNeeds cleaning:", needs_cleaning)

Needs cleaning: ['IsHoliday → boolean', 'Date → datetime (done)', 'MarkDown1 → numeric fill', 'MarkDown2 → numeric fill', 'MarkDown3 → numeric fill', 'MarkDown4 → numeric fill', 'MarkDown5 → numeric fill', 'Temperature → numeric fill', 'Fuel_Price → numeric fill', 'CPI → numeric fill', 'Unemployment → numeric fill']

In [ ]:

# -------- Task 2: Data Cleaning --------

df = merged.copy()

# 1) Missing values overview
print("\nMissing values before cleaning:\n", df.isnull().sum().sort_values(ascending=False).head(20))

Missing values before cleaning:
 MarkDown2       310322
MarkDown4       286603
MarkDown3       284479
MarkDown1       270889
MarkDown5       270138
Store                0
IsHoliday_x          0
Dept                 0
Date                 0
Temperature          0
Fuel_Price           0
Weekly_Sales         0
CPI                  0
Unemployment         0
IsHoliday_y          0
Type                 0
Size                 0
dtype: int64

In [ ]:
# 2) Fill numeric columns (Temperature, Fuel_Price, CPI, Unemployment) with median
for col in ['Temperature','Fuel_Price','CPI','Unemployment']:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
        med = df[col].median()
        df[col] = df[col].fillna(med)

In [ ]:

# 3) Fill MarkDown fields with mean
markdown_cols = [c for c in df.columns if c.lower().startswith('markdown')]
for col in markdown_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    mean_val = df[col].mean()
    df[col] = df[col].fillna(mean_val)

# 4) Ensure Date is datetime (idempotent)
if 'Date' in df.columns:
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [ ]:
# 5) Optional: IsHoliday to boolean
for col in ['IsHoliday','IsHoliday_x','IsHoliday_y']:
    if col in df.columns:
        if df[col].dtype != bool:
            df[col] = df[col].astype('bool')

# 6) Remove duplicates (exact row duplicates)
df = df.drop_duplicates().reset_index(drop=True)

print("\nMissing values after cleaning:\n", df.isnull().sum().sort_values(ascending=False).head(20))
print("\nCleaned shape:", df.shape)

Missing values after cleaning:
 Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday_x     0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
IsHoliday_y     0
Type            0
Size            0
dtype: int64

Cleaned shape: (421570, 17)