In [ ]:
import pandas as pd

In [ ]:
data=pd.Series(['manager','senior','junior','junior','manager','senior','manager','senior','junior','manager','junior','senior','senior','manager','junior','senior','manager','senior','junior','manager','senior'])

In [ ]:
print(data)

0     manager
1      senior
2      junior
3      junior
4     manager
5      senior
6     manager
7      senior
8      junior
9     manager
10     junior
11     senior
12     senior
13    manager
14     junior
15     senior
16    manager
17     senior
18     junior
19    manager
20     senior
dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder
res=LabelEncoder()
res.fit_transform(data)

array([1, 2, 0, 0, 1, 2, 1, 2, 0, 1, 0, 2, 2, 1, 0, 2, 1, 2, 0, 1, 2])

In [ ]:
from sklearn.preprocessing import OneHotEncoder
pd.get_dummies(data,dtype=int)

    junior  manager  senior
0        0        1       0
1        0        0       1
2        1        0       0
3        1        0       0
4        0        1       0
5        0        0       1
6        0        1       0
7        0        0       1
8        1        0       0
9        0        1       0
10       1        0       0
11       0        0       1
12       0        0       1
13       0        1       0
14       1        0       0
15       0        0       1
16       0        1       0
17       0        0       1
18       1        0       0
19       0        1       0
20       0        0       1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/loan_approved.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
df['Loan_Amount_Term'].nunique()
print(df['Loan_Amount_Term'].unique())

[360. 120. 240.  nan 180.  60. 300. 480.  36.  84.  12.]

In [ ]:
print(np.sort(df['Loan_Amount_Term'].unique()))

[ 12.  36.  60.  84. 120. 180. 240. 300. 360. 480.  nan]

In [ ]:
df.shape

(614, 13)

In [ ]:
df.dtypes

Loan_ID                    object
Gender                     object
Married                    object
Dependents                 object
Education                  object
Self_Employed              object
ApplicantIncome             int64
CoapplicantIncome         float64
LoanAmount                float64
Loan_Amount_Term          float64
Credit_History            float64
Property_Area              object
Loan_Status (Approved)     object
dtype: object

In [ ]:
df.isnull().sum()

Loan_ID                    0
Gender                    13
Married                    3
Dependents                15
Education                  0
Self_Employed             32
ApplicantIncome            0
CoapplicantIncome          0
LoanAmount                22
Loan_Amount_Term          14
Credit_History            50
Property_Area              0
Loan_Status (Approved)     0
dtype: int64

In [ ]:
df['Gender'] = df['Gender'].fillna('unknown')
df['Married'] = df['Married'].fillna('unknown')
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])
df['Self_Employed'] = df['Self_Employed'].fillna('unknown')
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mean())
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].median())
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [ ]:
df.isnull().sum()

Loan_ID                   0
Gender                    0
Married                   0
Dependents                0
Education                 0
Self_Employed             0
ApplicantIncome           0
CoapplicantIncome         0
LoanAmount                0
Loan_Amount_Term          0
Credit_History            0
Property_Area             0
Loan_Status (Approved)    0
dtype: int64

In [ ]:

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])
df['Married']=le.fit_transform(df['Married'])
df['Education']=le.fit_transform(df['Education'])
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
0,LP001002,1,0,0,0,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,1,1,1,0,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,1,1,0,0,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,1,1,0,1,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,1,0,0,0,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

In [ ]:
from sklearn.preprocessing import OneHotEncoder
df=pd.get_dummies(df,dtype=int,drop_first=True)
df

,Gender,Married,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID_LP001003,Loan_ID_LP001005,...,Loan_ID_LP002984,Loan_ID_LP002990,Dependents_1,Dependents_2,Dependents_3+,Self_Employed_Yes,Self_Employed_unknown,Property_Area_Semiurban,Property_Area_Urban,Loan_Status (Approved)_Y
0,1,0,0,5849,0.0,146.412162,360.0,1.0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,1,1,0,4583,1508.0,128.000000,360.0,1.0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,1,1,0,3000,0.0,66.000000,360.0,1.0,0,1,...,0,0,0,0,0,1,0,0,1,1
3,1,1,1,2583,2358.0,120.000000,360.0,1.0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,1,0,0,6000,0.0,141.000000,360.0,1.0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,2900,0.0,71.000000,360.0,1.0,0,0,...,0,0,0,0,0,0,0,0,0,1
610,1,1,0,4106,0.0,40.000000,180.0,1.0,0,0,...,0,0,0,0,1,0,0,0,0,1
611,1,1,0,8072,240.0,253.000000,360.0,1.0,0,0,...,0,0,1,0,0,0,0,0,1,1
612,1,1,0,7583,0.0,187.000000,360.0,1.0,0,0,...,1,0,0,1,0,0,0,0,1,1
613,0,0,0,4583,0.0,133.000000,360.0,0.0,0,0,...,0,1,0,0,0,1,0,1,0,0

In [ ]:
df.shape

(614, 629)

In [ ]:
df.columns

Index(['Gender', 'Married', 'Education', 'ApplicantIncome',
       'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
       'Loan_ID_LP001003', 'Loan_ID_LP001005',
       ...
       'Loan_ID_LP002984', 'Loan_ID_LP002990', 'Dependents_1', 'Dependents_2',
       'Dependents_3+', 'Self_Employed_Yes', 'Self_Employed_unknown',
       'Property_Area_Semiurban', 'Property_Area_Urban',
       'Loan_Status (Approved)_Y'],
      dtype='object', length=629)

In [ ]:
#to retrive any row.
print(df.iloc[125])

Gender                         0.0
Married                        0.0
Education                      0.0
ApplicantIncome             3692.0
CoapplicantIncome              0.0
                             ...
Self_Employed_Yes              0.0
Self_Employed_unknown          0.0
Property_Area_Semiurban        0.0
Property_Area_Urban            0.0
Loan_Status (Approved)_Y       1.0
Name: 125, Length: 629, dtype: float64

In [ ]:
encoded = pd.get_dummies(df, drop_first=True, dtype=int)
encoded.to_csv("dataset_clean_encoded.csv", index=False)

**Distribution**

In [ ]:
s=(df['ApplicantIncome']-df['ApplicantIncome'].mean())/df['ApplicantIncome'].std()
s

0      0.072931
1     -0.134302
2     -0.393427
3     -0.461686
4      0.097649
         ...
609   -0.409796
610   -0.212383
611    0.436818
612    0.356773
613   -0.134302
Name: ApplicantIncome, Length: 614, dtype: float64

In [ ]:
s.max()

12.374533479765521

In [ ]:
df.head()

,Gender,Married,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID_LP001003,Loan_ID_LP001005,...,Loan_ID_LP002984,Loan_ID_LP002990,Dependents_1,Dependents_2,Dependents_3+,Self_Employed_Yes,Self_Employed_unknown,Property_Area_Semiurban,Property_Area_Urban,Loan_Status (Approved)_Y
0,1,0,0,5849,0.0,146.412162,360.0,1.0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,1,1,0,4583,1508.0,128.000000,360.0,1.0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,1,1,0,3000,0.0,66.000000,360.0,1.0,0,1,...,0,0,0,0,0,1,0,0,1,1
3,1,1,1,2583,2358.0,120.000000,360.0,1.0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,1,0,0,6000,0.0,141.000000,360.0,1.0,0,0,...,0,0,0,0,0,0,0,0,1,1

1.Identify outliers with histogram , boxplot ,skewness measure

2.choose IQR or z-score

3.go for transformatin technique

In [ ]:
from sklearn.preprocessing import PowerTransformer
trans=PowerTransformer(method='yeo-johnson')

In [ ]:
# df['new'] = pt.fit_transform(df[['col']])

**QQ Plot using python and heatmap**